.targets {
    display: flex;
    justify-content: space-around;
}

#imageContainer {
    position: relative;
}

.mainImage {
    max-width: 100%;
    max-height: 80%;
}

.popUp {
    position: absolute;
    background-color: white;
    border: 1px solid black;
}

.selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}